body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

.navbar {
    background: #0b2c4d;
    color: white;
    padding: 14px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.dashboard {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 15px;
    padding: 15px;
}

.card {
    background: white;
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 4px 10px rgba(94, 91, 91, 0.663);

}

#map {
    height: 350px;
    border-radius: 10px;
}

.map-strip {
    text-align: center;
    margin-bottom: 8px;
}

#statusFilter,
#datePicker {
    border: 1px solid #0d6efd;
    border-radius: 5px;
    text-align: center;
    height: 2rem;
    background: #0b2c4db7;
    color: white;
    cursor: pointer;
}

#statusFilter {
    width: 15rem;
}

#datePicker {
    width: 10rem;
}

/* Date icon styling */
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1);
    opacity: 1;
    font-size: 1.5rem;
}

.top-controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btnDateCont {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    align-content: center;
}

button {
    padding: 8px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.btn-primary {
    background: #0d6efd;
    color: white;
}

.btn-outline {
    background: white;
    border: 1px solid #ccc;
}

.summary {
    display: flex;
    gap: 10px;
}

.summary-box {
    flex: 1;
    padding: 0px;
    color: white;
    border-radius: 8px;
    text-align: center;
}

.bg-success {
    background: #2a5a44;
}

.bg-danger {
    background: #d4616c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-size: 14px;
    border: none;
}

th,
td {
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(even) {
    background: #f2f2f2;
}

.blink-green {
    animation: greenBlink 1s infinite;
}

.blink-red {
    animation: redBlink 1s infinite;
}

@keyframes greenBlink {
    0% {
        fill: green
    }

    50% {
        fill: #7CFC00
    }

    100% {
        fill: green
    }
}

@keyframes redBlink {
    0% {
        fill: red
    }

    50% {
        fill: #ff9999
    }

    100% {
        fill: red
    }
}